doctype html
html
    head
        title=name
        style
            include ./styles/main.css
        link(href='href="https://fonts.googleapis.com/css?family=Lato|Roboto"' rel='stylesheet')
        link(href='href="https://fonts.googleapis.com/css?family=Noto+Sans+TC"' rel='stylesheet')
    body
        header.container.header
            h1.header-title Musical Notation of Chinese
        main.container.main
            include ./form.pug