doctype html
html
    head
        title=name
        style
            include ./styles/main.css
        link(href='href="https://fonts.googleapis.com/css?family=Lato|Roboto"' rel='stylesheet')
        link(href='href="https://fonts.googleapis.com/css?family=Noto+Sans+TC"' rel='stylesheet')
    body
        header.container.header
            h1.header-title Musical Notation of Chinese
        main.container.main
            div.form-container
                form(method='GET',action='/download')
                    div.form-group.form-invisible
                        input#filepath.form-checkbox(type='text',name='filepath',value=path)
                    input.form-button(type='submit',value='Download')
        a.button(href="/") Come back